# Basic Spark Configuration

In [ ]:
# export PYSPARK_DRIVER_PYTHON="jupyter"
# export PYSPARK_DRIVER_PYTHON_OPTS="notebook"

In [ ]:
# Spark + Jupyter notebook
# export PYSPARK_DRIVER_PYTHON="jupyter"
# export PYSPARK_DRIVER_PYTHON_OPTS="notebook"

In [2]:
type(sc)

pyspark.context.SparkContext

In [3]:
type(spark)
# uniform entry point

pyspark.sql.session.SparkSession

In [4]:
# version
sc.version

'2.1.0'

In [ ]:
# check the UI
# change configurations
# memory

# master, tab,

In [ ]:
# 老师问一下，下载并解压了spark，但要怎么装一下吗？在terminal里输pyspark说command not found
# # PySpark Setup
# export PYSPARK_PYTHON=python3
# export PYSPARK_DRIVER_PYTHON="jupyter"
# export PYSPARK_DRIVER_PYTHON_OPTS="notebook"
# export PATH="$SPARK_HOME/bin:$PATH"

# ./pyspark

# Core Classes in Spark

In [ ]:
SparkContext # major entry to Spark
RDD # basic abstraction in Spark (low level)

pyspark.sql.SQLContext # main entry to DataFrame (depreciateing)
pyspark.sql.DataFrame # basic abstraction in DataFrame (depreciateing)
pyspark.sql.SparkSession # main entry to Data Frame 

#streaming.StreamingContext # major entry to streaming
#streaming.DStream # basic abstraction in streaming

## SparkContext

In [10]:
# create RDD directly

rdd_a = sc.parallelize(a)

In [11]:
type(a), type(rdd_a)

(list, pyspark.rdd.RDD)

In [ ]:
# storage: 
# list: in local memory (for sure)
# rdd_a: if the data will be materialized, in remote cluster memory

In [27]:
a = [i for i in range(1000000)]
rdd_a = sc.parallelize(a) # spark a command, it has not be executed

In [32]:
%%time
rdd_a.count() # execution happen

CPU times: user 4.97 ms, sys: 2.11 ms, total: 7.09 ms
Wall time: 85.6 ms

1000000

In [33]:
%%time
rdd_a.cache()
rdd_a.count()

CPU times: user 15.8 ms, sys: 2.76 ms, total: 18.5 ms
Wall time: 315 ms

In [37]:
%%time
rdd_a.count()

CPU times: user 4.93 ms, sys: 2.94 ms, total: 7.87 ms
Wall time: 98.1 ms

1000000

In [ ]:
# my_new_function in your local python file
# want to call my_new_function in spark 
sc.addPyFile('my_new_function.py')

In [ ]:
sc.accumulator # only modifiable by Spark, not read
sc.broadcast # only readable by Spark, not modifiable

In [39]:
b = [1, 2, 3 ]
b_broad = sc.broadcast(b)

In [ ]:
b_broad[0]

In [1]:
# add extra files for dependency: addFile, addPyFile

# RDD creation method: parallelize, range

# Spreadout variables: accumulator, broadcast
# how to use accumulator & broadcast variables

In [ ]:
# array (local) vs. RDD (remote)

In [40]:
a = [i for i in range(1000000)]
rdd_a = sc.parallelize(a) # spark a command, it has not be executed
rdd_a_1 = rdd_a.map(lambda x: x + 1)

In [41]:
rdd_a_1.count()

1000000

In [ ]:
# Tranform : do not run, until ... 
# Action :

## Resilient Distributed Dataset (RDD)

In [ ]:
# creation: local memory, local file, external file

# Properties: partitions, persistence, getStorageLevel, partitions

# key-value pair RDD

# lazy evaluation (transforation & action), chain together 

# basic operations: filter, map, reduce, reduce by key, sample, 
#                   union, intersect, join, cartesian, coalesce
#                   reduce, collect, count, take

In [42]:
# Word Count example: textFile, flatMap, map, reducedByKey, saveAsTextFile

# load text
text_file = sc.textFile("all-shakespeare.txt")

In [47]:
t1 = text_file.flatMap(lambda x: x.split(' '))

In [50]:
t2 = t1.map(lambda x: (x, 1))

In [54]:
t3 = t2.reduceByKey(lambda x, y: x + y)

In [56]:
t3.saveAsTextFile('all-test-txt')

In [58]:
sc.textFile("all-shakespeare.txt").flatMap(lambda x: x.split(' ')).map(lambda x: (x, 1)).reduceByKey(lambda x, y: x + y).saveAsTextFile('all-test-txt')

In [ ]:
# jupyter notebook里面用括号括住就行了

In [2]:
# process (separate out, try persist or not)

In [4]:
from pyspark import Accumulator

In [6]:
# Broadcast and Accumulator
a = sc.broadcast(range(10))

## Spark SQL/DataFrame

### Spark Datasource API

In [1]:
from pyspark.sql import SQLContext
sqlContext = SQLContext(sc)

In [61]:
spark.createDataFrame?

In [ ]:
# In a big company ... 
df = spark.sql('''
    select date, time, name
    from one_table
    where date = '2016-12-10'
''')
# backend: call Hive, use Spark kernel to run Hive-on-Spark, the table will be considered as df 
# Transform, NOT action

In [ ]:
# In lcoal environment ... (preferable)
spark.createDataFrame()

In [62]:
import pandas as pd

In [63]:
df_pd = pd.read_csv('train_mod.csv')

In [65]:
df_sp = spark.createDataFrame(df_pd)

In [66]:
type(df_pd), type(df_sp)

(pandas.core.frame.DataFrame, pyspark.sql.dataframe.DataFrame)

In [ ]:
# If you don't like pandas for some reason ...

In [67]:
df_sp1 = spark.read.csv('train_mod.csv')

In [68]:
# parquet format is native for spark
df_sp.write.parquet('save_1_txt')

In [69]:
df_sp.write.csv('save_2_txt')

In [ ]:
# How to read data, how to write data? (character-deaths.csv)
# read/write (text, csv, parquet)

In [ ]:
# In pandas; series & data frame , have concept of both column & index
# In spark, only data frame , have concept of only column

### Spark Dataframe API

#### Type

In [83]:
# Explore all spark types
from pyspark.sql.types import StructField, StructType, ByteType, DoubleType, DecimalType, StringType, ArrayType, IntegerType

In [ ]:
# singlton vs initiated type

In [73]:
type(DoubleType())

pyspark.sql.types.DoubleType

In [74]:
StringType()

StringType

In [ ]:
# construct arrayType

In [76]:
ArrayType(StringType())

ArrayType(StringType,true)

#### Schema

In [77]:
df_sp.schema

StructType(List(StructField(PassengerId,LongType,true),StructField(Survived,LongType,true),StructField(Pclass,LongType,true),StructField(Name,StringType,true),StructField(Sex,StringType,true),StructField(Age,DoubleType,true),StructField(SibSp,LongType,true),StructField(Parch,LongType,true),StructField(Ticket,StringType,true),StructField(Fare,DoubleType,true),StructField(Embarked,StringType,true)))

In [79]:
df_sp.printSchema()

root
 |-- PassengerId: long (nullable = true)
 |-- Survived: long (nullable = true)
 |-- Pclass: long (nullable = true)
 |-- Name: string (nullable = true)
 |-- Sex: string (nullable = true)
 |-- Age: double (nullable = true)
 |-- SibSp: long (nullable = true)
 |-- Parch: long (nullable = true)
 |-- Ticket: string (nullable = true)
 |-- Fare: double (nullable = true)
 |-- Embarked: string (nullable = true)

In [80]:
df_sp1.printSchema()

root
 |-- _c0: string (nullable = true)
 |-- _c1: string (nullable = true)
 |-- _c2: string (nullable = true)
 |-- _c3: string (nullable = true)
 |-- _c4: string (nullable = true)
 |-- _c5: string (nullable = true)
 |-- _c6: string (nullable = true)
 |-- _c7: string (nullable = true)
 |-- _c8: string (nullable = true)
 |-- _c9: string (nullable = true)
 |-- _c10: string (nullable = true)

In [81]:
df_tmp = spark.read.parquet('save_1_txt/')

In [82]:
df_tmp.printSchema()

root
 |-- PassengerId: long (nullable = true)
 |-- Survived: long (nullable = true)
 |-- Pclass: long (nullable = true)
 |-- Name: string (nullable = true)
 |-- Sex: string (nullable = true)
 |-- Age: double (nullable = true)
 |-- SibSp: long (nullable = true)
 |-- Parch: long (nullable = true)
 |-- Ticket: string (nullable = true)
 |-- Fare: double (nullable = true)
 |-- Embarked: string (nullable = true)

In [ ]:
# infer schema directly

In [ ]:
# specify schema from StructType

In [84]:
my_scheme = StructType([
     StructField('PassengerId', IntegerType(), True),
     StructField('Name', StringType(), True)
    ])

In [85]:
my_scheme

StructType(List(StructField(PassengerId,IntegerType,true),StructField(Name,StringType,true)))

In [86]:
df_sp.schema

StructType(List(StructField(PassengerId,LongType,true),StructField(Survived,LongType,true),StructField(Pclass,LongType,true),StructField(Name,StringType,true),StructField(Sex,StringType,true),StructField(Age,DoubleType,true),StructField(SibSp,LongType,true),StructField(Parch,LongType,true),StructField(Ticket,StringType,true),StructField(Fare,DoubleType,true),StructField(Embarked,StringType,true)))

In [88]:
data = [
    [1, 'David'],
    [2, 'Jason']
]
df_tmp = spark.createDataFrame(data, schema=my_scheme)

In [89]:
df_tmp.printSchema()

root
 |-- PassengerId: integer (nullable = true)
 |-- Name: string (nullable = true)

In [93]:
# pay attention to the space after \ ......
pd.read_csv('train_mod.csv') \
    .head(2)

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C

In [94]:
df_tmp = spark.read.parquet('save_1_txt/')

In [95]:
%%time 
df_tmp.count()

CPU times: user 627 µs, sys: 676 µs, total: 1.3 ms
Wall time: 404 ms

712

In [96]:
%%time
df_tmp.cache()
df_tmp.count()

CPU times: user 903 µs, sys: 837 µs, total: 1.74 ms
Wall time: 313 ms

In [97]:
%%time
df_tmp.count()

CPU times: user 701 µs, sys: 834 µs, total: 1.54 ms
Wall time: 50.6 ms

712

In [ ]:
# compare different datatype, Byte vs. Integer

#### Row

In [98]:
from pyspark.sql import Row

In [102]:
a = df_sp.take(10)

In [103]:
a[0]

Row(PassengerId=1, Survived=0, Pclass=3, Name='Braund, Mr. Owen Harris', Sex='male', Age=22.0, SibSp=1, Parch=0, Ticket='A/5 21171', Fare=7.25, Embarked='S')

In [104]:
a[0]['PassengerId']

1

In [106]:
a[0][4]

'male'

In [109]:
b = a[0]

In [115]:
b.index(1)

0

In [117]:
b.count(1)

2

In [118]:
b.asDict()

{'Age': 22.0,
 'Embarked': 'S',
 'Fare': 7.25,
 'Name': 'Braund, Mr. Owen Harris',
 'Parch': 0,
 'PassengerId': 1,
 'Pclass': 3,
 'Sex': 'male',
 'SibSp': 1,
 'Survived': 0,
 'Ticket': 'A/5 21171'}

In [126]:
Row(PassengerId=1, Embarked='S', NewRow=Row(C1=1, C2=3))

Row(Embarked='S', NewRow=Row(C1=1, C2=3), PassengerId=1)

In [122]:
adict = {'Age': 22.0,
 'Embarked': 'S',
 'Fare': 7.25,
 'Name': 'Braund, Mr. Owen Harris',
 'Parch': 0,
 'PassengerId': 1,
 'Pclass': 3,
 'Sex': 'male',
 'SibSp': 1,
 'Survived': 0,
 'Ticket': 'A/5 21171'}

In [124]:
Row(**adict)

Row(Age=22.0, Embarked='S', Fare=7.25, Name='Braund, Mr. Owen Harris', Parch=0, PassengerId=1, Pclass=3, Sex='male', SibSp=1, Survived=0, Ticket='A/5 21171')

In [ ]:
# dict like object

In [ ]:
# nested Row

#### Column

In [129]:
df_sp['PassengerId'].take(2)

TypeError: 'Column' object is not callable

In [ ]:
# understand column type, and what functions could be used over it

# sadly no directly displayd column by itself (no action)

#### DataFrame

In [ ]:
# Display operations
# dtypes, schema, take, head, tail, collect, columns, count
# freqItems, cross_table

In [130]:
type(df_pd), type(df_sp)

(pandas.core.frame.DataFrame, pyspark.sql.dataframe.DataFrame)

In [131]:
df_pd.shape

(712, 11)

In [135]:
df_sp.count(), len(df_sp.columns)

(712, 11)

In [137]:
df_pd.tail(2)

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Embarked
710,890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.00,C
711,891,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.75,Q

In [141]:
df_sp.head(2)

[Row(PassengerId=1, Survived=0, Pclass=3, Name='Braund, Mr. Owen Harris', Sex='male', Age=22.0, SibSp=1, Parch=0, Ticket='A/5 21171', Fare=7.25, Embarked='S'),
 Row(PassengerId=2, Survived=1, Pclass=1, Name='Cumings, Mrs. John Bradley (Florence Briggs Thayer)', Sex='female', Age=38.0, SibSp=1, Parch=0, Ticket='PC 17599', Fare=71.2833, Embarked='C')]

In [143]:
# df_sp.collect() # dangerous operation, not suggested, only if you know your data is small enough

In [144]:
df_pd.dtypes

PassengerId      int64
Survived         int64
Pclass           int64
Name            object
Sex             object
Age            float64
SibSp            int64
Parch            int64
Ticket          object
Fare           float64
Embarked        object
dtype: object

In [145]:
df_sp.dtypes

[('PassengerId', 'bigint'),
 ('Survived', 'bigint'),
 ('Pclass', 'bigint'),
 ('Name', 'string'),
 ('Sex', 'string'),
 ('Age', 'double'),
 ('SibSp', 'bigint'),
 ('Parch', 'bigint'),
 ('Ticket', 'string'),
 ('Fare', 'double'),
 ('Embarked', 'string')]

In [146]:
df_sp.printSchema()

root
 |-- PassengerId: long (nullable = true)
 |-- Survived: long (nullable = true)
 |-- Pclass: long (nullable = true)
 |-- Name: string (nullable = true)
 |-- Sex: string (nullable = true)
 |-- Age: double (nullable = true)
 |-- SibSp: long (nullable = true)
 |-- Parch: long (nullable = true)
 |-- Ticket: string (nullable = true)
 |-- Fare: double (nullable = true)
 |-- Embarked: string (nullable = true)

In [147]:
df_pd.describe()

,PassengerId,Survived,Pclass,Age,SibSp,Parch,Fare
count,712.000000,712.000000,712.000000,712.000000,712.000000,712.000000,712.000000
mean,448.589888,0.404494,2.240169,29.642093,0.514045,0.432584,34.567251
std,258.683191,0.491139,0.836854,14.492933,0.930692,0.854181,52.938648
min,1.000000,0.000000,1.000000,0.420000,0.000000,0.000000,0.000000
25%,222.750000,0.000000,1.000000,20.000000,0.000000,0.000000,8.050000
50%,445.000000,0.000000,2.000000,28.000000,0.000000,0.000000,15.645850
75%,677.250000,1.000000,3.000000,38.000000,1.000000,1.000000,33.000000
max,891.000000,1.000000,3.000000,80.000000,5.000000,6.000000,512.329200

In [149]:
df_sp.describe().collect()

[Row(summary='count', PassengerId='712', Survived='712', Pclass='712', Name='712', Sex='712', Age='712', SibSp='712', Parch='712', Ticket='712', Fare='712', Embarked='712'),
 Row(summary='mean', PassengerId='448.58988764044943', Survived='0.4044943820224719', Pclass='2.240168539325843', Name=None, Sex=None, Age='29.64209269662921', SibSp='0.5140449438202247', Parch='0.43258426966292135', Ticket='276349.1541425819', Fare='34.567251404494385', Embarked=None),
 Row(summary='stddev', PassengerId='258.6831910181215', Survived='0.4911389472541195', Pclass='0.836854316690345', Name=None, Sex=None, Age='14.492932900323519', SibSp='0.9306921267673427', Parch='0.8541814457454134', Ticket='524618.6556654529', Fare='52.93864817471089', Embarked=None),
 Row(summary='min', PassengerId='1', Survived='0', Pclass='1', Name='Abbing, Mr. Anthony', Sex='female', Age='0.42', SibSp='0', Parch='0', Ticket='110152', Fare='0.0', Embarked='C'),
 Row(summary='max', PassengerId='891', Survived='1', Pclass='3', Name='van Billiard, Mr. Austin Blyler', Sex='male', Age='80.0', SibSp='5', Parch='6', Ticket='WE/P 5735', Fare='512.3292', Embarked='S')]

In [150]:
df_sp.describe().toPandas()

,summary,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Embarked
0,count,712,712,712,712,712,712,712,712,712,712,712
1,mean,448.58988764044943,0.4044943820224719,2.240168539325843,None,None,29.64209269662921,0.5140449438202247,0.43258426966292135,276349.1541425819,34.567251404494385,None
2,stddev,258.6831910181215,0.4911389472541195,0.836854316690345,None,None,14.492932900323519,0.9306921267673427,0.8541814457454134,524618.6556654529,52.93864817471089,None
3,min,1,0,1,"Abbing, Mr. Anthony",female,0.42,0,0,110152,0.0,C
4,max,891,1,3,"van Billiard, Mr. Austin Blyler",male,80.0,5,6,WE/P 5735,512.3292,S

In [156]:
df_sp.freqItems(['Sex']).take(10)

[Row(Sex_freqItems=['male', 'female'])]

In [152]:
df_pd.Sex.value_counts()

male      453
female    259
Name: Sex, dtype: int64

In [ ]:
# SQL Key operations
# Union, intersection, difference, Cartesian product

# Selection, projection, join (inner, left, right, outer)

In [ ]:
# SQL vs Dataframe API comparison

##### Read data

In [ ]:
# Pandas vs. Spark (train.csv)
# header, dtypes, N/A
# separator, Parquet

In [2]:
# import pandas as pd
# df_pd = pd.read_csv('train_mod.csv')
# df_sp = spark.createDataFrame(df_pd)

##### filter

In [161]:
df_pd.query(''' Sex == 'male' and Age > 60 ''').head(2)

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Embarked
25,34,0,2,"Wheadon, Mr. Edward H",male,66.0,0,0,C.A. 24579,10.5000,S
40,55,0,1,"Ostby, Mr. Engelhart Cornelius",male,65.0,0,1,113509,61.9792,C

In [159]:
df_sp.filter(''' Sex = 'male' ''').head(2)

[Row(PassengerId=1, Survived=0, Pclass=3, Name='Braund, Mr. Owen Harris', Sex='male', Age=22.0, SibSp=1, Parch=0, Ticket='A/5 21171', Fare=7.25, Embarked='S'),
 Row(PassengerId=5, Survived=0, Pclass=3, Name='Allen, Mr. William Henry', Sex='male', Age=35.0, SibSp=0, Parch=0, Ticket='373450', Fare=8.05, Embarked='S')]

In [160]:
df_sp.filter(''' Sex = 'male' and Age > 50 ''').head(2)

[Row(PassengerId=7, Survived=0, Pclass=1, Name='McCarthy, Mr. Timothy J', Sex='male', Age=54.0, SibSp=0, Parch=0, Ticket='17463', Fare=51.8625, Embarked='S'),
 Row(PassengerId=34, Survived=0, Pclass=2, Name='Wheadon, Mr. Edward H', Sex='male', Age=66.0, SibSp=0, Parch=0, Ticket='C.A. 24579', Fare=10.5, Embarked='S')]

In [ ]:
# 那公司里的data preprocessing一般不用spark dataframe，用pandas吗？还是用pig？

In [ ]:
# small, large; mostly due to legacy reason

In [7]:
# loc, query
# filter ('', df)

##### selection

In [163]:
df_pd[['PassengerId', 'Sex']].head(2)

   PassengerId     Sex
0            1    male
1            2  female

In [164]:
df_sp.select('PassengerId', 'Sex').head(2)

[Row(PassengerId=1, Sex='male'), Row(PassengerId=2, Sex='female')]

In [8]:
# [[]], select
# select

##### join

In [170]:
df_pd_1 = df_pd.query(''' Sex == 'male' ''')
df_pd_2 = df_pd.query(''' Age >= 30 ''')

In [166]:
df_sp_1 = df_sp.filter(''' Sex = 'male' ''')
df_sp_2 = df_sp.filter(''' Age >= 30 ''')

In [171]:
df_test_1 = df_pd_1.merge(df_pd_2, how='inner', on='PassengerId')

In [172]:
df_test_1.head(2)

,PassengerId,Survived_x,Pclass_x,Name_x,Sex_x,Age_x,SibSp_x,Parch_x,Ticket_x,Fare_x,...,Survived_y,Pclass_y,Name_y,Sex_y,Age_y,SibSp_y,Parch_y,Ticket_y,Fare_y,Embarked_y
0,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,...,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,S
1,7,0,1,"McCarthy, Mr. Timothy J",male,54.0,0,0,17463,51.8625,...,0,1,"McCarthy, Mr. Timothy J",male,54.0,0,0,17463,51.8625,S

In [173]:
df_test_1.shape

(216, 21)

In [174]:
df_test_2 = df_sp_1.join(df_sp_2, how='inner', on='PassengerId')

In [175]:
df_test_2.count(), len(df_test_2.columns)

(216, 21)

In [176]:
df_test_2.head(2)

[Row(PassengerId=293, Survived=0, Pclass=2, Name='Levy, Mr. Rene Jacques', Sex='male', Age=36.0, SibSp=0, Parch=0, Ticket='SC/Paris 2163', Fare=12.875, Embarked='C', Survived=0, Pclass=2, Name='Levy, Mr. Rene Jacques', Sex='male', Age=36.0, SibSp=0, Parch=0, Ticket='SC/Paris 2163', Fare=12.875, Embarked='C'),
 Row(PassengerId=720, Survived=0, Pclass=3, Name='Johnson, Mr. Malkolm Joackim', Sex='male', Age=33.0, SibSp=0, Parch=0, Ticket='347062', Fare=7.775, Embarked='S', Survived=0, Pclass=3, Name='Johnson, Mr. Malkolm Joackim', Sex='male', Age=33.0, SibSp=0, Parch=0, Ticket='347062', Fare=7.775, Embarked='S')]

In [ ]:
# pay attention to column name

In [181]:
df_sp_1.join(
    df_sp_2.select('PassengerId', 'Sex', 'Age') \
        .withColumnRenamed('Sex', 'Sex_new') \
        .withColumnRenamed('Age', 'Age_new'),
    how='inner', on='PassengerId')

DataFrame[PassengerId: bigint, Survived: bigint, Pclass: bigint, Name: string, Sex: string, Age: double, SibSp: bigint, Parch: bigint, Ticket: string, Fare: double, Embarked: string, Sex_new: string, Age_new: double]

In [9]:
# Age, Sex
# merge
# join

##### column transformation

In [183]:
df_pd.assign(NewAge=lambda x: x.Age + 10).head(2)

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Embarked,NewAge
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,S,32.0
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C,48.0

In [ ]:
df_pd['NewAge'] = df_pd['Age'] + 10

In [186]:
import pyspark.sql.functions as F

In [188]:
df_sp.withColumn('NewAge', F.col('Age') + 10).head(2)

[Row(PassengerId=1, Survived=0, Pclass=3, Name='Braund, Mr. Owen Harris', Sex='male', Age=22.0, SibSp=1, Parch=0, Ticket='A/5 21171', Fare=7.25, Embarked='S', NewAge=32.0),
 Row(PassengerId=2, Survived=1, Pclass=1, Name='Cumings, Mrs. John Bradley (Florence Briggs Thayer)', Sex='female', Age=38.0, SibSp=1, Parch=0, Ticket='PC 17599', Fare=71.2833, Embarked='C', NewAge=48.0)]

In [ ]:
# %timeit
# df, assign
# withColumn
# udf, datatype

##### groupby operation

In [ ]:
# groupby, agg/apply
# udf, columns.droplevel()
# groupby, agg, alias, function

In [189]:
df_pd.groupby('Sex').agg({
        'PassengerId': 'count',
        'Age': 'mean'
    })

              Age  PassengerId
Sex
female  27.745174          259
male    30.726645          453

In [191]:
df_sp.groupby('Sex').agg({
        'PassengerId': 'count',
        'Age': 'mean'
    }).head(10)

[Row(Sex='female', count(PassengerId)=259, avg(Age)=27.745173745173744),
 Row(Sex='male', count(PassengerId)=453, avg(Age)=30.72664459161148)]

##### replace/missing data

In [194]:
df_pd.fillna({
        'Sex': 'male',
        'Age': 0
    }).head(2)

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C

In [196]:
df_sp.fillna({
        'Sex': 'male',
        'Age': 0
    }).head(2)

[Row(PassengerId=1, Survived=0, Pclass=3, Name='Braund, Mr. Owen Harris', Sex='male', Age=22.0, SibSp=1, Parch=0, Ticket='A/5 21171', Fare=7.25, Embarked='S'),
 Row(PassengerId=2, Survived=1, Pclass=1, Name='Cumings, Mrs. John Bradley (Florence Briggs Thayer)', Sex='female', Age=38.0, SibSp=1, Parch=0, Ticket='PC 17599', Fare=71.2833, Embarked='C')]

In [ ]:
# replace (dict, None, regex)
# replace

In [ ]:
# value_count
# freqItems, crosstab

##### Set operation (union, intersection, difference)

In [198]:
df_pd_1 = df_pd.loc[lambda x: x.Survived == 1][['PassengerId', 'Name']]
df_pd_2 = df_pd.loc[lambda x: x.Sex == 'male'][['PassengerId', 'Name']]
print(df_pd_1.shape, df_pd_2.shape)

(288, 2) (453, 2)

In [201]:
# concat, append, isin, ~ 
df_pd_1.append(df_pd_2).shape

(741, 2)

In [203]:
df_pd_1.isin(df_pd_2).shape

(288, 2)

In [199]:
df_sp_1 = df_sp.filter('Survived=1').select('PassengerId', 'Name')
df_sp_2 = df_sp.filter("Sex='male'").select('PassengerId', 'Name')
print(df_sp_1.count(), df_sp_2.count())

288 453

In [81]:
# union, intersect, subtract

In [202]:
df_sp_1.union(df_sp_2).count()

741

##### SQL's approach

In [205]:
df_sp.createOrReplaceTempView('df_table')

In [210]:
spark.sql('''
    select Age, count(*) as cnt
    from df_table
    where Sex = 'male'
    group by Age
    order by 2 desc 
''').take(10)

[Row(Age=25.0, cnt=18),
 Row(Age=19.0, cnt=18),
 Row(Age=28.0, cnt=18),
 Row(Age=21.0, cnt=17),
 Row(Age=22.0, cnt=15),
 Row(Age=36.0, cnt=15),
 Row(Age=32.0, cnt=15),
 Row(Age=30.0, cnt=14),
 Row(Age=24.0, cnt=14),
 Row(Age=29.0, cnt=13)]

In [ ]:
# select from where group by order by with

##### window function

In [ ]:
# IMPOTANT ESPECIALLY FOR INTERVIEW

In [216]:
spark.sql('''
    select PassengerId, Age, Pclass, 
        avg(Age) over (partition by Pclass) as age_in_sex_group, 
        (Age < avg(Age) over (partition by Pclass)) as smaller_than_group_avg
    from df_table
    order by 1 
''').take(10)

[Row(PassengerId=1, Age=22.0, Pclass=3, age_in_sex_group=25.14061971830986, smaller_than_group_avg=True),
 Row(PassengerId=2, Age=38.0, Pclass=1, age_in_sex_group=38.10554347826087, smaller_than_group_avg=True),
 Row(PassengerId=3, Age=26.0, Pclass=3, age_in_sex_group=25.14061971830986, smaller_than_group_avg=False),
 Row(PassengerId=4, Age=35.0, Pclass=1, age_in_sex_group=38.10554347826087, smaller_than_group_avg=True),
 Row(PassengerId=5, Age=35.0, Pclass=3, age_in_sex_group=25.14061971830986, smaller_than_group_avg=False),
 Row(PassengerId=7, Age=54.0, Pclass=1, age_in_sex_group=38.10554347826087, smaller_than_group_avg=False),
 Row(PassengerId=8, Age=2.0, Pclass=3, age_in_sex_group=25.14061971830986, smaller_than_group_avg=True),
 Row(PassengerId=9, Age=27.0, Pclass=3, age_in_sex_group=25.14061971830986, smaller_than_group_avg=False),
 Row(PassengerId=10, Age=14.0, Pclass=2, age_in_sex_group=29.87763005780347, smaller_than_group_avg=True),
 Row(PassengerId=11, Age=4.0, Pclass=3, age_in_sex_group=25.14061971830986, smaller_than_group_avg=True)]

In [217]:
from pyspark.sql import Window

In [218]:
w1 = Window().partitionBy('Pclass')

In [220]:
df_sp.withColumn('age_in_sex_group', F.avg('Age').over(w1)).head(2)

[Row(PassengerId=2, Survived=1, Pclass=1, Name='Cumings, Mrs. John Bradley (Florence Briggs Thayer)', Sex='female', Age=38.0, SibSp=1, Parch=0, Ticket='PC 17599', Fare=71.2833, Embarked='C', age_in_sex_group=38.10554347826087),
 Row(PassengerId=4, Survived=1, Pclass=1, Name='Futrelle, Mrs. Jacques Heath (Lily May Peel)', Sex='female', Age=35.0, SibSp=1, Parch=0, Ticket='113803', Fare=53.1, Embarked='S', age_in_sex_group=38.10554347826087)]

In [ ]:
# over partition by order by

In [ ]:
# groupby, apply
# Window partitionBy, orderBy

## GraphX & GraphFrame

In [ ]:
# Spark GraphX Example

In [1]:
from graphframes import GraphFrame

In [3]:
v = spark.createDataFrame([
  ("a", "Alice", 34),
  ("b", "Bob", 36),
  ("c", "Charlie", 30),
  ("d", "David", 29),
  ("e", "Esther", 32),
  ("f", "Fanny", 36),
  ("g", "Gabby", 60)
], ["id", "name", "age"])
# Edge DataFrame
e = spark.createDataFrame([
  ("a", "b", "friend"),
  ("b", "c", "follow"),
  ("c", "b", "follow"),
  ("f", "c", "follow"),
  ("e", "f", "follow"),
  ("e", "d", "friend"),
  ("d", "a", "friend"),
  ("a", "e", "friend")
], ["src", "dst", "relationship"])
# Create a GraphFrame
g = GraphFrame(v, e)

In [29]:
# motif finding (a)-[e]->(c) ;
# subgraph
# connected component
# pageRank