# Basic Spark Configuration

In [ ]:
# # PySpark Setup
# export PYSPARK_PYTHON=python3
# export PYSPARK_DRIVER_PYTHON="jupyter"
# export PYSPARK_DRIVER_PYTHON_OPTS="notebook"
# export PATH="$SPARK_HOME/bin:$PATH"

# pyspark

In [1]:
type(sc)

pyspark.context.SparkContext

In [2]:
type(spark)
# uniform entry point

pyspark.sql.session.SparkSession

In [3]:
# version
sc.version

u'2.1.0'

In [ ]:
# check the UI
# change configurations
# memory

# master, tab,

# Core Classes in Spark

In [ ]:
SparkContext # major entry to Spark
RDD # basic abstraction in Spark (low level)

pyspark.sql.SQLContext # main entry to DataFrame (depreciateing)
pyspark.sql.DataFrame # basic abstraction in DataFrame (depreciateing)
pyspark.sql.SparkSession # main entry to Data Frame 

#streaming.StreamingContext # major entry to streaming
#streaming.DStream # basic abstraction in streaming

## SparkContext

In [1]:
# create RDD directly
a = [i for i in range(10000)]
rdd_a = sc.parallelize(a)

In [2]:
type(a), type(rdd_a)

(list, pyspark.rdd.RDD)

In [ ]:
# storage: 
# list: in local memory (for sure)
# rdd_a: if the data will be materialized, in remote cluster memory

In [3]:
a = [i for i in range(1000000)]
rdd_a = sc.parallelize(a) # spark a command, it has not be executed

In [9]:
%%time
rdd_a.count() # execution happen

CPU times: user 20.8 ms, sys: 3.73 ms, total: 24.5 ms
Wall time: 184 ms

1000000

In [10]:
%%time
rdd_a.cache()
rdd_a.count()

CPU times: user 7.07 ms, sys: 3.34 ms, total: 10.4 ms
Wall time: 438 ms

In [11]:
%%time
rdd_a.count()

CPU times: user 6.22 ms, sys: 2.39 ms, total: 8.61 ms
Wall time: 197 ms

1000000

In [ ]:
# my_new_function in your local python file
# want to call my_new_function in spark 
sc.addPyFile('my_new_function.py')

In [ ]:
sc.accumulator # only modifiable by Spark, not read
sc.broadcast # only readable by Spark, not modifiable

In [12]:
b = [1, 2, 3 ]
b_broad = sc.broadcast(b)

In [14]:
b_broad

In [15]:
# add extra files for dependency: addFile, addPyFile

# RDD creation method: parallelize, range

# Spreadout variables: accumulator, broadcast
# how to use accumulator & broadcast variables

In [ ]:
# array (local) vs. RDD (remote)

In [16]:
# transform
a = [i for i in range(1000000)]
rdd_a = sc.parallelize(a) # spark a command, it has not be executed
rdd_a_1 = rdd_a.map(lambda x: x + 1)

In [17]:
# action
rdd_a_1.count()

1000000

In [ ]:
# Tranform : do not run, until ... 
# Action :

## Resilient Distributed Dataset (RDD)

In [ ]:
# creation: local memory, local file, external file

# Properties: partitions, persistence, getStorageLevel, partitions

# key-value pair RDD

# lazy evaluation (transformation & action), chain together 

# basic operations: filter, map, reduce, reduce by key, sample, 
#                   union, intersect, join, cartesian, coalesce
#                   reduce, collect, count, take

In [18]:
# Word Count example: textFile, flatMap, map, reducedByKey, saveAsTextFile

# load text
text_file = sc.textFile("job_description.txt")

In [21]:
text_file.take(4)

[u'Job Description',
 u'Job Title: Data Scientist ',
 u'',
 u'Location: Irvine, CA ']

In [19]:
t1 = text_file.flatMap(lambda x: x.split(' '))

In [22]:
t1.take(5)

[u'Job', u'Description', u'Job', u'Title:', u'Data']

In [23]:
t2 = t1.map(lambda x: (x, 1))

In [26]:
t2.reduceByKey?

In [24]:
t3 = t2.reduceByKey(lambda x, y: x + y)

In [25]:
t3.take(5)

[(u'', 9),
 (u'transactions,', 1),
 (u'large-scale,', 1),
 (u'Candidate', 1),
 (u'VBA', 1)]

In [29]:
t3.saveAsTextFile('all-test-txt')

In [33]:
sc.textFile("job_description.txt").flatMap(lambda x: x.split(' ')).map(lambda x: (x, 1)).reduceByKey(lambda x, y: x + y).saveAsTextFile('all-test-txt')

In [34]:
# process (separate out, try persist or not)

In [35]:
from pyspark import Accumulator

In [36]:
# Broadcast and Accumulator
a = sc.broadcast(range(10))

## Spark SQL/DataFrame

### Spark Datasource API

In [41]:
from pyspark.sql import SQLContext
sqlContext = SQLContext(sc)

In [37]:
spark.createDataFrame?

In [ ]:
# In a big company ... 
df = spark.sql('''
    select date, time, name
    from one_table
    where date = '2016-12-10'
''')
# backend: call Hive, use Spark kernel to run Hive-on-Spark, the table will be considered as df 
# Transform, NOT action

In [ ]:
# In lcoal environment ... (preferable)
spark.createDataFrame()

In [47]:
?spark.createDataFrame

In [38]:
import pandas as pd

In [42]:
df_pd = pd.read_csv('train.csv')

In [57]:
df_pd1 = df_pd[1:2]
df_pd1

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C

In [51]:
# df_pd.fillna(value=0);

In [61]:
df_sp = spark.createDataFrame(df_pd1)
df_sp

DataFrame[PassengerId: bigint, Survived: bigint, Pclass: bigint, Name: string, Sex: string, Age: double, SibSp: bigint, Parch: bigint, Ticket: string, Fare: double, Cabin: string, Embarked: string]

In [62]:
type(df_pd), type(df_sp)

(pandas.core.frame.DataFrame, pyspark.sql.dataframe.DataFrame)

In [ ]:
# If you don't like pandas for some reason ...

In [63]:
df_sp1 = spark.read.csv('train.csv')

In [64]:
# parquet format is native for spark, it is faster than csv files
df_sp.write.parquet('save_1_txt')

In [65]:
df_sp.write.csv('save_2_txt')

In [ ]:
# How to read data, how to write data? (character-deaths.csv)
# read/write (text, csv, parquet)

In [ ]:
# In pandas; series & data frame , have concept of both column & index
# In spark, only data frame , have concept of only column

### Spark Dataframe API

#### Type

In [68]:
# Explore all spark types
from pyspark.sql.types import StructField, StructType, ByteType, \
    DoubleType, DecimalType, StringType, ArrayType, IntegerType

In [ ]:
# singlton vs initiated type

In [69]:
type(DoubleType())

pyspark.sql.types.DoubleType

In [70]:
StringType()

StringType

In [ ]:
# construct arrayType

In [76]:
# ArrayType() would have error

In [71]:
ArrayType(StringType())

ArrayType(StringType,true)

#### Schema

In [73]:
df_sp.schema

StructType(List(StructField(PassengerId,LongType,true),StructField(Survived,LongType,true),StructField(Pclass,LongType,true),StructField(Name,StringType,true),StructField(Sex,StringType,true),StructField(Age,DoubleType,true),StructField(SibSp,LongType,true),StructField(Parch,LongType,true),StructField(Ticket,StringType,true),StructField(Fare,DoubleType,true),StructField(Cabin,StringType,true),StructField(Embarked,StringType,true)))

In [74]:
df_sp.printSchema()

root
 |-- PassengerId: long (nullable = true)
 |-- Survived: long (nullable = true)
 |-- Pclass: long (nullable = true)
 |-- Name: string (nullable = true)
 |-- Sex: string (nullable = true)
 |-- Age: double (nullable = true)
 |-- SibSp: long (nullable = true)
 |-- Parch: long (nullable = true)
 |-- Ticket: string (nullable = true)
 |-- Fare: double (nullable = true)
 |-- Cabin: string (nullable = true)
 |-- Embarked: string (nullable = true)

In [75]:
df_sp1.printSchema()

root
 |-- _c0: string (nullable = true)
 |-- _c1: string (nullable = true)
 |-- _c2: string (nullable = true)
 |-- _c3: string (nullable = true)
 |-- _c4: string (nullable = true)
 |-- _c5: string (nullable = true)
 |-- _c6: string (nullable = true)
 |-- _c7: string (nullable = true)
 |-- _c8: string (nullable = true)
 |-- _c9: string (nullable = true)
 |-- _c10: string (nullable = true)
 |-- _c11: string (nullable = true)

In [77]:
df_tmp = spark.read.parquet('save_1_txt/')

In [78]:
df_tmp.printSchema()

root
 |-- PassengerId: long (nullable = true)
 |-- Survived: long (nullable = true)
 |-- Pclass: long (nullable = true)
 |-- Name: string (nullable = true)
 |-- Sex: string (nullable = true)
 |-- Age: double (nullable = true)
 |-- SibSp: long (nullable = true)
 |-- Parch: long (nullable = true)
 |-- Ticket: string (nullable = true)
 |-- Fare: double (nullable = true)
 |-- Cabin: string (nullable = true)
 |-- Embarked: string (nullable = true)

In [ ]:
# infer schema directly

In [ ]:
# specify schema from StructType

In [79]:
my_schema = StructType([
     StructField('PassengerId', IntegerType(), True),
     StructField('Name', StringType(), True)
    ])

In [81]:
my_schema

StructType(List(StructField(PassengerId,IntegerType,true),StructField(Name,StringType,true)))

In [82]:
df_sp.schema

StructType(List(StructField(PassengerId,LongType,true),StructField(Survived,LongType,true),StructField(Pclass,LongType,true),StructField(Name,StringType,true),StructField(Sex,StringType,true),StructField(Age,DoubleType,true),StructField(SibSp,LongType,true),StructField(Parch,LongType,true),StructField(Ticket,StringType,true),StructField(Fare,DoubleType,true),StructField(Cabin,StringType,true),StructField(Embarked,StringType,true)))

In [84]:
data = [
    [1, 'David'],
    [2, 'Jason']
]
df_tmp = spark.createDataFrame(data, schema=my_schema)

In [85]:
df_tmp.printSchema()

root
 |-- PassengerId: integer (nullable = true)
 |-- Name: string (nullable = true)

In [86]:
# pay attention to the space after \ ......
pd.read_csv('train.csv') \
    .head(2)

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C

In [87]:
df_tmp = spark.read.parquet('save_1_txt/')

In [88]:
%%time 
df_tmp.count()

CPU times: user 789 µs, sys: 806 µs, total: 1.6 ms
Wall time: 536 ms

1

In [89]:
%%time
df_tmp.cache()
df_tmp.count()

CPU times: user 1.11 ms, sys: 1.4 ms, total: 2.51 ms
Wall time: 326 ms

In [90]:
%%time
df_tmp.count()

CPU times: user 811 µs, sys: 790 µs, total: 1.6 ms
Wall time: 89.3 ms

1

In [ ]:
# faster after cache

In [ ]:
# compare different datatype, Byte vs. Integer

#### Row

In [91]:
from pyspark.sql import Row

In [92]:
a = df_sp.take(10)

In [93]:
a[0]

Row(PassengerId=2, Survived=1, Pclass=1, Name=u'Cumings, Mrs. John Bradley (Florence Briggs Thayer)', Sex=u'female', Age=38.0, SibSp=1, Parch=0, Ticket=u'PC 17599', Fare=71.2833, Cabin=u'C85', Embarked=u'C')

In [94]:
a[0]['PassengerId']

2

In [95]:
a[0][4]

u'female'

In [99]:
b = a[0]
b

Row(PassengerId=2, Survived=1, Pclass=1, Name=u'Cumings, Mrs. John Bradley (Florence Briggs Thayer)', Sex=u'female', Age=38.0, SibSp=1, Parch=0, Ticket=u'PC 17599', Fare=71.2833, Cabin=u'C85', Embarked=u'C')

In [100]:
b.index(1)

1

In [103]:
b.count(1) # the number of values == 1

3

In [104]:
b.asDict()

{'Age': 38.0,
 'Cabin': u'C85',
 'Embarked': u'C',
 'Fare': 71.2833,
 'Name': u'Cumings, Mrs. John Bradley (Florence Briggs Thayer)',
 'Parch': 0,
 'PassengerId': 2,
 'Pclass': 1,
 'Sex': u'female',
 'SibSp': 1,
 'Survived': 1,
 'Ticket': u'PC 17599'}

In [105]:
Row(PassengerId=1, Embarked='S', NewRow=Row(C1=1, C2=3))

Row(Embarked='S', NewRow=Row(C1=1, C2=3), PassengerId=1)

In [106]:
adict = {'Age': 22.0,
 'Embarked': 'S',
 'Fare': 7.25,
 'Name': 'Braund, Mr. Owen Harris',
 'Parch': 0,
 'PassengerId': 1,
 'Pclass': 3,
 'Sex': 'male',
 'SibSp': 1,
 'Survived': 0,
 'Ticket': 'A/5 21171'}

In [107]:
Row(**adict)

Row(Age=22.0, Embarked='S', Fare=7.25, Name='Braund, Mr. Owen Harris', Parch=0, PassengerId=1, Pclass=3, Sex='male', SibSp=1, Survived=0, Ticket='A/5 21171')

In [ ]:
# dict like object

In [ ]:
# nested Row

#### Column

In [109]:
# df_sp['PassengerId'].take(2), take operation only valid for data frame, not for column

In [ ]:
# understand column type, and what functions could be used over it

# sadly no directly displayd column by itself (no action)

#### DataFrame

In [ ]:
# Display operations
# dtypes, schema, take, head, tail, collect, columns, count
# freqItems, cross_table

In [110]:
type(df_pd), type(df_sp)

(pandas.core.frame.DataFrame, pyspark.sql.dataframe.DataFrame)

In [111]:
df_pd.shape

(891, 12)

In [112]:
df_sp.count(), len(df_sp.columns)

(1, 12)

In [113]:
df_pd.tail(2)

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
889,890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.00,C148,C
890,891,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.75,NaN,Q

In [114]:
df_sp.head(2)

[Row(PassengerId=2, Survived=1, Pclass=1, Name=u'Cumings, Mrs. John Bradley (Florence Briggs Thayer)', Sex=u'female', Age=38.0, SibSp=1, Parch=0, Ticket=u'PC 17599', Fare=71.2833, Cabin=u'C85', Embarked=u'C')]

In [115]:
# df_sp.collect() 
# dangerous operation, not suggested, only if you know your data is small enough

In [116]:
df_pd.dtypes

PassengerId      int64
Survived         int64
Pclass           int64
Name            object
Sex             object
Age            float64
SibSp            int64
Parch            int64
Ticket          object
Fare           float64
Cabin           object
Embarked        object
dtype: object

In [117]:
df_sp.dtypes

[('PassengerId', 'bigint'),
 ('Survived', 'bigint'),
 ('Pclass', 'bigint'),
 ('Name', 'string'),
 ('Sex', 'string'),
 ('Age', 'double'),
 ('SibSp', 'bigint'),
 ('Parch', 'bigint'),
 ('Ticket', 'string'),
 ('Fare', 'double'),
 ('Cabin', 'string'),
 ('Embarked', 'string')]

In [118]:
df_sp.printSchema()

root
 |-- PassengerId: long (nullable = true)
 |-- Survived: long (nullable = true)
 |-- Pclass: long (nullable = true)
 |-- Name: string (nullable = true)
 |-- Sex: string (nullable = true)
 |-- Age: double (nullable = true)
 |-- SibSp: long (nullable = true)
 |-- Parch: long (nullable = true)
 |-- Ticket: string (nullable = true)
 |-- Fare: double (nullable = true)
 |-- Cabin: string (nullable = true)
 |-- Embarked: string (nullable = true)

In [119]:
df_pd.describe()

,PassengerId,Survived,Pclass,Age,SibSp,Parch,Fare
count,891.000000,891.000000,891.000000,714.000000,891.000000,891.000000,891.000000
mean,446.000000,0.383838,2.308642,29.699118,0.523008,0.381594,32.204208
std,257.353842,0.486592,0.836071,14.526497,1.102743,0.806057,49.693429
min,1.000000,0.000000,1.000000,0.420000,0.000000,0.000000,0.000000
25%,223.500000,0.000000,2.000000,20.125000,0.000000,0.000000,7.910400
50%,446.000000,0.000000,3.000000,28.000000,0.000000,0.000000,14.454200
75%,668.500000,1.000000,3.000000,38.000000,1.000000,0.000000,31.000000
max,891.000000,1.000000,3.000000,80.000000,8.000000,6.000000,512.329200

In [120]:
df_sp.describe().collect()

[Row(summary=u'count', PassengerId=u'1', Survived=u'1', Pclass=u'1', Name=u'1', Sex=u'1', Age=u'1', SibSp=u'1', Parch=u'1', Ticket=u'1', Fare=u'1', Cabin=u'1', Embarked=u'1'),
 Row(summary=u'mean', PassengerId=u'2.0', Survived=u'1.0', Pclass=u'1.0', Name=None, Sex=None, Age=u'38.0', SibSp=u'1.0', Parch=u'0.0', Ticket=None, Fare=u'71.2833', Cabin=None, Embarked=None),
 Row(summary=u'stddev', PassengerId=u'NaN', Survived=u'NaN', Pclass=u'NaN', Name=None, Sex=None, Age=u'NaN', SibSp=u'NaN', Parch=u'NaN', Ticket=None, Fare=u'NaN', Cabin=None, Embarked=None),
 Row(summary=u'min', PassengerId=u'2', Survived=u'1', Pclass=u'1', Name=u'Cumings, Mrs. John Bradley (Florence Briggs Thayer)', Sex=u'female', Age=u'38.0', SibSp=u'1', Parch=u'0', Ticket=u'PC 17599', Fare=u'71.2833', Cabin=u'C85', Embarked=u'C'),
 Row(summary=u'max', PassengerId=u'2', Survived=u'1', Pclass=u'1', Name=u'Cumings, Mrs. John Bradley (Florence Briggs Thayer)', Sex=u'female', Age=u'38.0', SibSp=u'1', Parch=u'0', Ticket=u'PC 17599', Fare=u'71.2833', Cabin=u'C85', Embarked=u'C')]

In [121]:
df_sp.describe().toPandas()

,summary,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,count,1,1,1,1,1,1,1,1,1,1,1,1
1,mean,2.0,1.0,1.0,None,None,38.0,1.0,0.0,None,71.2833,None,None
2,stddev,NaN,NaN,NaN,None,None,NaN,NaN,NaN,None,NaN,None,None
3,min,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
4,max,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C

In [122]:
df_sp.freqItems(['Sex']).take(10)

[Row(Sex_freqItems=[u'female'])]

In [123]:
df_pd.Sex.value_counts()

male      577
female    314
Name: Sex, dtype: int64

In [ ]:
# SQL Key operations
# Union, intersection, difference, Cartesian product

# Selection, projection, join (inner, left, right, outer)

In [ ]:
# SQL vs Dataframe API comparison

##### Read data

In [ ]:
# Pandas vs. Spark (train.csv)
# header, dtypes, N/A
# separator, Parquet

In [2]:
# import pandas as pd
# df_pd = pd.read_csv('train_mod.csv')
# df_sp = spark.createDataFrame(df_pd)

##### filter

In [125]:
df_pd.shape

(891, 12)

In [126]:
df_pd.query(''' Sex == 'male' and Age > 60 ''').head(2)

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
33,34,0,2,"Wheadon, Mr. Edward H",male,66.0,0,0,C.A. 24579,10.5000,NaN,S
54,55,0,1,"Ostby, Mr. Engelhart Cornelius",male,65.0,0,1,113509,61.9792,B30,C

In [127]:
df_sp.filter(''' Sex = 'male' ''').head(2)

[]

In [160]:
df_sp.filter(''' Sex = 'male' and Age > 50 ''').head(2)

[Row(PassengerId=7, Survived=0, Pclass=1, Name='McCarthy, Mr. Timothy J', Sex='male', Age=54.0, SibSp=0, Parch=0, Ticket='17463', Fare=51.8625, Embarked='S'),
 Row(PassengerId=34, Survived=0, Pclass=2, Name='Wheadon, Mr. Edward H', Sex='male', Age=66.0, SibSp=0, Parch=0, Ticket='C.A. 24579', Fare=10.5, Embarked='S')]

In [ ]:
# data preprocessing: spark dataframe，pandas or pig？

In [ ]:
# small, large; mostly due to legacy reason

In [132]:
df_pd.query('''PassengerId < 5 and Age < 50 ''')

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S

In [139]:
df_sp.filter('''Sex = 'female' ''').head(1)

[Row(PassengerId=2, Survived=1, Pclass=1, Name=u'Cumings, Mrs. John Bradley (Florence Briggs Thayer)', Sex=u'female', Age=38.0, SibSp=1, Parch=0, Ticket=u'PC 17599', Fare=71.2833, Cabin=u'C85', Embarked=u'C')]

In [7]:
# loc, query
# filter ('', df)

##### selection

In [140]:
df_pd[['PassengerId', 'Sex']].head(2)

   PassengerId     Sex
0            1    male
1            2  female

In [141]:
df_sp.select('PassengerId', 'Sex').head(2)

[Row(PassengerId=2, Sex=u'female')]

In [8]:
# [[]], select
# select

##### join

In [142]:
df_pd_1 = df_pd.query(''' Sex == 'male' ''')
df_pd_2 = df_pd.query(''' Age >= 30 ''')

In [143]:
df_sp_1 = df_sp.filter(''' Sex = 'male' ''')
df_sp_2 = df_sp.filter(''' Age >= 30 ''')

In [146]:
?df_pd_1.merge

In [147]:
df_test_1 = df_pd_1.merge(df_pd_2, how='inner', on='PassengerId')

In [148]:
df_test_1.head(2)

,PassengerId,Survived_x,Pclass_x,Name_x,Sex_x,Age_x,SibSp_x,Parch_x,Ticket_x,Fare_x,...,Pclass_y,Name_y,Sex_y,Age_y,SibSp_y,Parch_y,Ticket_y,Fare_y,Cabin_y,Embarked_y
0,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,...,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S
1,7,0,1,"McCarthy, Mr. Timothy J",male,54.0,0,0,17463,51.8625,...,1,"McCarthy, Mr. Timothy J",male,54.0,0,0,17463,51.8625,E46,S

In [149]:
df_test_1.shape

(216, 23)

In [150]:
df_pd_1.shape

(577, 12)

In [151]:
df_test_2 = df_sp_1.join(df_sp_2, how='inner', on='PassengerId')

In [152]:
df_test_2.count(), len(df_test_2.columns)

(0, 23)

In [176]:
df_test_2.head(2)

[Row(PassengerId=293, Survived=0, Pclass=2, Name='Levy, Mr. Rene Jacques', Sex='male', Age=36.0, SibSp=0, Parch=0, Ticket='SC/Paris 2163', Fare=12.875, Embarked='C', Survived=0, Pclass=2, Name='Levy, Mr. Rene Jacques', Sex='male', Age=36.0, SibSp=0, Parch=0, Ticket='SC/Paris 2163', Fare=12.875, Embarked='C'),
 Row(PassengerId=720, Survived=0, Pclass=3, Name='Johnson, Mr. Malkolm Joackim', Sex='male', Age=33.0, SibSp=0, Parch=0, Ticket='347062', Fare=7.775, Embarked='S', Survived=0, Pclass=3, Name='Johnson, Mr. Malkolm Joackim', Sex='male', Age=33.0, SibSp=0, Parch=0, Ticket='347062', Fare=7.775, Embarked='S')]

In [ ]:
# pay attention to column name

In [153]:
df_sp_1.join(
    df_sp_2.select('PassengerId', 'Sex', 'Age') \
        .withColumnRenamed('Sex', 'Sex_new') \
        .withColumnRenamed('Age', 'Age_new'),
    how='inner', on='PassengerId')

DataFrame[PassengerId: bigint, Survived: bigint, Pclass: bigint, Name: string, Sex: string, Age: double, SibSp: bigint, Parch: bigint, Ticket: string, Fare: double, Cabin: string, Embarked: string, Sex_new: string, Age_new: double]

In [9]:
# Age, Sex
# merge
# join

##### column transformation

In [154]:
df_pd.assign(NewAge=lambda x: x.Age + 10).head(2)

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,NewAge
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S,32.0
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C,48.0

In [155]:
df_pd['NewAge'] = df_pd['Age'] + 10

In [157]:
import pyspark.sql.functions as F

In [158]:
df_sp.withColumn('NewAge', F.col('Age') + 10).head(2)

[Row(PassengerId=2, Survived=1, Pclass=1, Name=u'Cumings, Mrs. John Bradley (Florence Briggs Thayer)', Sex=u'female', Age=38.0, SibSp=1, Parch=0, Ticket=u'PC 17599', Fare=71.2833, Cabin=u'C85', Embarked=u'C', NewAge=48.0)]

In [ ]:
# %timeit
# df, assign
# withColumn
# udf, datatype

##### groupby operation

In [ ]:
# groupby, agg/apply
# udf, columns.droplevel()
# groupby, agg, alias, function

In [159]:
df_pd.groupby('Sex').agg({
        'PassengerId': 'count',
        'Age': 'mean'
    })

              Age  PassengerId
Sex
female  27.915709          314
male    30.726645          577

In [191]:
df_sp.groupby('Sex').agg({
        'PassengerId': 'count',
        'Age': 'mean'
    }).head(10)

[Row(Sex='female', count(PassengerId)=259, avg(Age)=27.745173745173744),
 Row(Sex='male', count(PassengerId)=453, avg(Age)=30.72664459161148)]

##### replace/missing data

In [160]:
df_pd.fillna({
        'Sex': 'male',
        'Age': 0
    }).head(2)

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,NewAge
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S,32.0
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C,48.0

In [161]:
df_sp.fillna({
        'Sex': 'male',
        'Age': 0
    }).head(2)

[Row(PassengerId=2, Survived=1, Pclass=1, Name=u'Cumings, Mrs. John Bradley (Florence Briggs Thayer)', Sex=u'female', Age=38.0, SibSp=1, Parch=0, Ticket=u'PC 17599', Fare=71.2833, Cabin=u'C85', Embarked=u'C')]

In [ ]:
# replace (dict, None, regex)
# replace

In [ ]:
# value_count
# freqItems, crosstab

##### Set operation (union, intersection, difference)

In [162]:
df_pd_1 = df_pd.loc[lambda x: x.Survived == 1][['PassengerId', 'Name']]
df_pd_2 = df_pd.loc[lambda x: x.Sex == 'male'][['PassengerId', 'Name']]
print(df_pd_1.shape, df_pd_2.shape)

((342, 2), (577, 2))

In [163]:
# concat, append, isin, ~ 
df_pd_1.append(df_pd_2).shape

(919, 2)

In [165]:
df_pd_1.isin(df_pd_2).shape

(342, 2)

In [166]:
df_sp_1 = df_sp.filter('Survived=1').select('PassengerId', 'Name')
df_sp_2 = df_sp.filter("Sex='male'").select('PassengerId', 'Name')
print(df_sp_1.count(), df_sp_2.count())

(1, 0)

In [167]:
# union, intersect, subtract

In [168]:
df_sp_1.union(df_sp_2).count()

1

##### SQL's approach

In [169]:
df_sp.createOrReplaceTempView('df_table')

In [210]:
spark.sql('''
    select Age, count(*) as cnt
    from df_table
    where Sex = 'male'
    group by Age
    order by 2 desc 
''').take(10)

[Row(Age=25.0, cnt=18),
 Row(Age=19.0, cnt=18),
 Row(Age=28.0, cnt=18),
 Row(Age=21.0, cnt=17),
 Row(Age=22.0, cnt=15),
 Row(Age=36.0, cnt=15),
 Row(Age=32.0, cnt=15),
 Row(Age=30.0, cnt=14),
 Row(Age=24.0, cnt=14),
 Row(Age=29.0, cnt=13)]

In [ ]:
# select from where group by order by with

##### window function

In [ ]:
# IMPOTANT ESPECIALLY FOR INTERVIEW

In [216]:
spark.sql('''
    select PassengerId, Age, Pclass, 
        avg(Age) over (partition by Pclass) as age_in_sex_group, 
        (Age < avg(Age) over (partition by Pclass)) as smaller_than_group_avg
    from df_table
    order by 1 
''').take(10)

[Row(PassengerId=1, Age=22.0, Pclass=3, age_in_sex_group=25.14061971830986, smaller_than_group_avg=True),
 Row(PassengerId=2, Age=38.0, Pclass=1, age_in_sex_group=38.10554347826087, smaller_than_group_avg=True),
 Row(PassengerId=3, Age=26.0, Pclass=3, age_in_sex_group=25.14061971830986, smaller_than_group_avg=False),
 Row(PassengerId=4, Age=35.0, Pclass=1, age_in_sex_group=38.10554347826087, smaller_than_group_avg=True),
 Row(PassengerId=5, Age=35.0, Pclass=3, age_in_sex_group=25.14061971830986, smaller_than_group_avg=False),
 Row(PassengerId=7, Age=54.0, Pclass=1, age_in_sex_group=38.10554347826087, smaller_than_group_avg=False),
 Row(PassengerId=8, Age=2.0, Pclass=3, age_in_sex_group=25.14061971830986, smaller_than_group_avg=True),
 Row(PassengerId=9, Age=27.0, Pclass=3, age_in_sex_group=25.14061971830986, smaller_than_group_avg=False),
 Row(PassengerId=10, Age=14.0, Pclass=2, age_in_sex_group=29.87763005780347, smaller_than_group_avg=True),
 Row(PassengerId=11, Age=4.0, Pclass=3, age_in_sex_group=25.14061971830986, smaller_than_group_avg=True)]

In [217]:
from pyspark.sql import Window

In [218]:
w1 = Window().partitionBy('Pclass')

In [220]:
df_sp.withColumn('age_in_sex_group', F.avg('Age').over(w1)).head(2)

[Row(PassengerId=2, Survived=1, Pclass=1, Name='Cumings, Mrs. John Bradley (Florence Briggs Thayer)', Sex='female', Age=38.0, SibSp=1, Parch=0, Ticket='PC 17599', Fare=71.2833, Embarked='C', age_in_sex_group=38.10554347826087),
 Row(PassengerId=4, Survived=1, Pclass=1, Name='Futrelle, Mrs. Jacques Heath (Lily May Peel)', Sex='female', Age=35.0, SibSp=1, Parch=0, Ticket='113803', Fare=53.1, Embarked='S', age_in_sex_group=38.10554347826087)]

In [ ]:
# over partition by order by

In [ ]:
# groupby, apply
# Window partitionBy, orderBy

## GraphX & GraphFrame

In [ ]:
# Spark GraphX Example

In [1]:
from graphframes import GraphFrame

In [3]:
v = spark.createDataFrame([
  ("a", "Alice", 34),
  ("b", "Bob", 36),
  ("c", "Charlie", 30),
  ("d", "David", 29),
  ("e", "Esther", 32),
  ("f", "Fanny", 36),
  ("g", "Gabby", 60)
], ["id", "name", "age"])
# Edge DataFrame
e = spark.createDataFrame([
  ("a", "b", "friend"),
  ("b", "c", "follow"),
  ("c", "b", "follow"),
  ("f", "c", "follow"),
  ("e", "f", "follow"),
  ("e", "d", "friend"),
  ("d", "a", "friend"),
  ("a", "e", "friend")
], ["src", "dst", "relationship"])
# Create a GraphFrame
g = GraphFrame(v, e)

In [29]:
# motif finding (a)-[e]->(c) ;
# subgraph
# connected component
# pageRank